body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-div {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  min-height: 100vh;
}

.center {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 68px;
  color: teal;
}
